.center{
    
    height: 100vh;
    position: relative;
    background: gray;
}

.center .child{
    background: white;
    width: 50vh;
    height: 250px;
    border: 5px solid white  ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.login-form{
    margin: 5px;
}